@import url(https://fonts.googleapis.com/css?family=Karla:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:500,700,800);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Lora:400italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica-bold/helvetica-bold.ttf") format("truetype"), url("../fonts/helvetica-bold/helvetica-bold.otf") format("opentype");
}
@font-face {
  font-family: "PFDinTextCondW01-Bold";
  src: url("../fonts/pfdin-textbold/pfdin-textbold.ttf") format("truetype"), url("../fonts/pfdin-textbold/pfdin-textbold.otf") format("opentype");
}
@font-face {
  font-family: "PFDinTextCondW01-Light";
  src: url("../fonts/pfdin-textlight/pfdin-textlight.ttf") format("truetype"), url("../fonts/pfdin-textlight/pfdin-textlight.otf") format("opentype");
}
@font-face {
  font-family: "PFDinTextCondW01-Medium";
  src: url("../fonts/pfdin-textmedium/pfdin-textmedium.ttf") format("truetype"), url("../fonts/pfdin-textmedium/pfdin-textmedium.otf") format("opentype");
  @font-face;
  font-family: "PFDinTextCondW01-ExtraBlack";
  src: url("../fonts/pfdin-textblack/pfdin-textblack.ttf") format("truetype"), url("../fonts/pfdin-textblack/pfdin-textblack.otf") format("opentype");
}
/*-----------RESET STYLES------------- */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a, p {
  text-decoration: none;
}

a, button, i, input {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

ul {
  list-style: none;
}

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea {
  padding: 0;
  margin: 0;
  line-height: 1em;
}

/*--------END RESET STYLES------------ */
/*---------RESET BOOTSTRAP STYLES----- */
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin: 0;
}

/*-----END RESET BOOTSTRAP STYLES----- */
/*------------HEADER STYLES----------- */
.welcome {
  padding-bottom: 15px;
  background: url("../../images/welcome-bg.png") repeat-x;
}
.welcome .navbar {
  margin-bottom: 0;
  min-height: 125px;
}
.welcome .navbar h1 {
  padding-top: 40px;
}
.welcome .navbar h1 .navbar-brand {
  margin: 0;
  padding-left: 0;
}
.welcome .navbar h1 .navbar-brand img {
  height: 71px;
}

.navbar-inverse {
  background: transparent;
  border: none;
}
.navbar-inverse .navbar-nav {
  float: right;
  padding-top: 100px;
}
.navbar-inverse .navbar-nav li {
  margin-left: 15px;
}
.navbar-inverse .navbar-nav li a {
  padding: 0;
  font: 700 14px/25px "Helvetica", sans-serif;
  color: #fff;
  text-decoration: none;
}
.navbar-inverse .navbar-nav li .facebook {
  display: block;
  position: relative;
  padding: 5px 8px 5px 25px;
  background: #567dad;
  border: 1px solid #14477e;
  line-height: 15px;
}
.navbar-inverse .navbar-nav li .facebook::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -7px;
  width: 8px;
  height: 14px;
  background: url("../../images/facebook-icon.png") no-repeat;
}
.navbar-inverse .navbar-nav li .facebook:hover {
  background: #567dad;
}
.navbar-inverse .navbar-nav .operation li {
  margin-left: 0;
}
.navbar-inverse .navbar-nav .operation li:first-child {
  float: left;
}
.navbar-inverse .navbar-nav .operation li:last-child {
  float: right;
}

/*---------END HEADER STYLES---------- */
/*--------SUBSCRIPTION STYLES--------- */
.subscription {
  padding: 16px 0;
}
.subscription .subscription-wrap {
  padding: 20px;
  background: #960000;
  border-radius: 5px;
}
.subscription .subscription-wrap p, .subscription .subscription-wrap .form-control, .subscription .subscription-wrap .btn {
  font: 400 14px "PFDinTextCondW01-Light", sans-serif;
}
.subscription .subscription-wrap p {
  display: inline-block;
  float: left;
  margin-right: 40px;
  font-size: 22px;
  color: #fff;
}
.subscription .subscription-wrap p span {
  font-weight: 700;
}
.subscription .subscription-wrap .form-group {
  margin-bottom: 0;
}
.subscription .subscription-wrap .form-group .form-control {
  display: inline-block;
  width: 240px;
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 0;
  font-size: 14px;
  box-shadow: inset 0 0 10px #ccc;
  color: #dfa8a8;
  border: none;
}
.subscription .subscription-wrap .form-group .form-control:-moz-placeholder {
  font-size: 14px;
  color: #dfa8a8;
}
.subscription .subscription-wrap .form-group .form-control::-moz-placeholder {
  font-size: 14px;
  color: #dfa8a8;
}
.subscription .subscription-wrap .form-group .form-control:-ms-input-placeholder {
  font-size: 14px;
  color: #dfa8a8;
}
.subscription .subscription-wrap .form-group .form-control::-webkit-input-placeholder {
  font-size: 14px;
  color: #dfa8a8;
}

/*-----END SUBSCRIPTION STYLES-------- */
/*-----------BUTTON STYLES------------ */
.btn {
  position: relative;
  padding: 7px 12px;
  font-size: 17px;
  font-weight: 700;
  color: #960000;
  background: #ffe100;
  border: none;
}
.btn:before {
  content: "";
  position: absolute;
  left: -5px;
  top: 50%;
  margin-top: -6px;
  width: 6px;
  height: 11px;
  background: url("../../images/btn-bg.png") no-repeat;
}
.btn:hover {
  background: #ffe100;
}

/*-----------BUTTON STYLES------------ */
/*--------OUR DEALINS STYLES---------- */
.our-dealins-wrap {
  display: inline-block;
  float: left;
}
.our-dealins-wrap .last-deal {
  position: relative;
  max-width: 135px;
  padding: 15px 10px 5px 10px;
  background: #fff;
  border-radius: 5px;
}
.our-dealins-wrap .last-deal:before {
  content: "";
  position: absolute;
  right: -11px;
  top: 20px;
  width: 12px;
  height: 34px;
  background: url("../../images/delta-right.png") no-repeat;
}
.our-dealins-wrap .last-deal h3 {
  font: 400 22px "PFDinTextCondW01-Medium", sans-serif;
  color: #960000;
}
.our-dealins-wrap .last-deal h3 span {
  display: block;
}
.our-dealins-wrap .last-deal .date {
  font: 700 50px "PFDinTextCondW01-Bold", sans-serif;
  color: #960000;
}

.our-dealins .our-actions {
  overflow: hidden;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
}
.our-dealins .our-actions .about-action {
  padding: 10px 20px;
  margin-bottom: 10px;
  background: #f2f2f2;
  border-radius: 5px;
}
.our-dealins .our-actions .about-action h2 {
  font: 700 34px "Helvetica", sans-serif;
  color: #000;
}
.our-dealins .our-actions .about-action p {
  font: 400 18px "Helvetica", sans-serif;
  color: #595959;
}

.conditions {
  overflow: hidden;
  margin-bottom: 15px;
}
.conditions .img-wrap {
  float: left;
  margin-right: 10px;
}
.conditions .term-wrap {
  position: relative;
  float: right;
  width: 50%;
  padding: 10px;
  background: #000;
  border-radius: 2px;
}
.conditions .term-wrap:before {
  content: "";
  position: absolute;
  top: 20px;
  left: -8px;
  width: 8px;
  height: 20px;
  background: url("../../images/delta-left.png") no-repeat;
}
.conditions .term-wrap .term {
  overflow: hidden;
  margin-bottom: 20px;
}
.conditions .term-wrap .term p {
  float: left;
  font: 400 14px/35px "PFDinTextCondW01-Medium", sans-serif;
  color: #929292;
}
.conditions .term-wrap .term span {
  float: right;
  font: 700 26px/35px "Helvetica", sans-serif;
  color: #9c9c9c;
}

.price-wrap {
  -moz-box-shadow: 0 0 15px 9px #2a2a2a;
  -webkit-box-shadow: 0 0 15px 9px #2a2a2a;
  box-shadow: 0 0 15px 9px #2a2a2a;
  overflow: hidden;
  padding: 15px 5px 5px 15px;
  background: #2a2a2a;
}
.price-wrap .price {
  overflow: hidden;
  margin-bottom: 10px;
  text-align: center;
}
.price-wrap .price span {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  font: 700 50px/60px "Helvetica", sans-serif;
  color: #fff;
}
.price-wrap .price .btn {
  padding: 15px 23px;
  font: 700 25px "Helvetica", sans-serif;
}
.price-wrap .price .btn:before {
  left: -10px;
  margin-top: -10px;
  width: 11px;
  height: 21px;
  background: url("../../images/large-btn-bg.png") no-repeat;
}
.price-wrap .gift {
  overflow: hidden;
  margin-bottom: 15px;
}
.price-wrap .gift a {
  float: right;
  position: relative;
  padding-left: 30px;
  font: 700 15px "Helvetica", sans-serif;
  text-decoration: none;
  color: #fff;
}
.price-wrap .gift a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
  width: 21px;
  height: 21px;
  background: url("../../images/note-bg.png") no-repeat;
}
.price-wrap .about-price li {
  position: relative;
  float: left;
  padding: 5px 15px;
  margin-right: 10px;
  background: #212121;
  border-radius: 8px;
}
.price-wrap .about-price li span {
  font: 400 14px "PFDinTextCondW01-Medium", sans-serif;
  text-transform: uppercase;
  color: #5b5b5b;
}
.price-wrap .about-price li .title {
  display: block;
  text-align: right;
}
.price-wrap .about-price li .money {
  display: block;
  font: 700 32px "Helvetica", sans-serif;
  text-align: center;
  color: #ffe100;
}
.price-wrap .about-price li:before {
  content: "";
  position: absolute;
  left: -9px;
  top: 50%;
  width: 8px;
  height: 1px;
  background: #ccc;
}
.price-wrap .about-price li:first-child:before {
  background: transparent;
}

.social {
  float: right;
}
.social p {
  float: left;
  margin-right: 15px;
  font: 400 14px "PFDinTextCondW01-Medium", sans-serif;
  color: #2a2a2a;
}
.social p a {
  color: #df0000;
  text-decoration: underline;
}
.social ul {
  float: right;
}
.social ul li {
  float: left;
  margin-right: 10px;
}
.social ul li:last-child {
  margin-right: 0;
}

.deals-list {
  margin-top: 25px;
}
.deals-list li {
  margin-bottom: 1px;
  padding: 10px 15px;
  background: #2a2a2a;
  border-radius: 5px 0 0 5px;
  behavior: url(../css/PIE.htc);
}
.deals-list li a {
  font: 400 21px "PFDinTextCondW01-Medium", sans-serif;
  text-decoration: none;
  color: #929292;
}
.deals-list li a span {
  display: block;
}
.deals-list li a:hover {
  color: #ffe100;
}

/*-----END OUR DEALINS STYLES--------- */
/*----------CONTENT STYLES------------ */
.wrapper {
  padding: 20px 0 60px 0;
  background-color: #f1eff1;
}
.wrapper .sidebar {
  padding: 0;
}
.wrapper .sidebar .img-wrap {
  position: relative;
  margin-bottom: 15px;
  text-align: center;
  background: #fff;
  border-radius: 5px;
}
.wrapper .sidebar .img-wrap:before {
  content: "";
  position: absolute;
  right: 20px;
  bottom: -12px;
  width: 32px;
  height: 13px;
  background: url("../../images/delta-down.png") no-repeat;
}
.wrapper .sidebar .img-wrap img {
  padding: 15px 0;
}
.wrapper .sidebar .blurb {
  margin-bottom: 15px;
  padding: 10px;
  background: #f90000;
  border-radius: 5px;
}
.wrapper .sidebar .blurb a {
  display: block;
  position: relative;
  padding-left: 25px;
  font: 400 14px "PFDinTextCondW01-Medium", sans-serif;
  text-decoration: none;
  color: #fff;
}
.wrapper .sidebar .blurb a:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 34px;
  left: 0;
  top: 50%;
  margin-top: -17px;
  background: url("../../images/phone-icon.png") no-repeat;
}
.wrapper .sidebar .blurb a span {
  display: block;
  font-size: 25px;
}
.wrapper .sidebar .fb-page iframe {
  width: 163px !important;
  border-radius: 5px;
}

.content {
  position: relative;
}
.content:before {
  content: "";
  position: absolute;
  top: 20px;
  height: 1px;
  width: 100%;
  background: #7a7a7a;
}
.content:after {
  content: "";
  position: absolute;
  top: 21px;
  height: 1px;
  width: 100%;
  background: #fff;
  z-index: 0;
}
.content .content-wrap {
  overflow: hidden;
  margin-bottom: 35px;
}
.content .content-wrap .main-info {
  padding-left: 0;
}
.content .content-wrap h2 {
  max-width: 150px;
}
.content h2 {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  margin: 0 0 20px 30px;
  font: 400 18px "PFDinTextCondW01-Medium", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #960000;
  border-radius: 5px;
  z-index: 1;
}
.content p {
  font: 400 13px "Helvetica", sans-serif;
  line-height: 20px;
  color: #595959;
}
.content a {
  color: #df0000;
}
.content .your-decision {
  padding-left: 10px;
}
.content .your-decision p {
  color: #000;
}
.content .your-decision a {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
}
.content .our-address {
  overflow: hidden;
  position: relative;
  padding-left: 0;
}
.content .our-address:before {
  content: "";
  position: absolute;
  top: 20px;
  height: 1px;
  width: 100%;
  background: #7a7a7a;
}
.content .our-address:after {
  content: "";
  position: absolute;
  top: 21px;
  height: 1px;
  width: 100%;
  background: #fff;
  z-index: 0;
}
.content .our-address iframe {
  width: 300px;
  float: left;
}
.content .our-address .address {
  position: relative;
  max-width: 230px;
  float: right;
  padding-left: 50px;
}
.content .our-address .address:before {
  content: "";
  position: absolute;
  width: 32px;
  height: 47px;
  left: 0;
  top: 0;
  background: url("../../images/address-icon.png") no-repeat;
}
.content .our-address .address p {
  font-size: 14px;
}
.content .our-address .address p a {
  text-decoration: underline;
}
.content .our-address .address .email {
  margin-top: 20px;
}
.content .advantages {
  padding: 0;
}
.content .advantages h2 {
  color: #7a7a7a;
  background: #e4e4e4;
}
.content .advantages p {
  margin-bottom: 30px;
}

.latest-deals {
  position: relative;
  overflow: hidden;
  padding: 15px 10px;
  background: #2f2f2f;
  border-radius: 5px;
}
.latest-deals:before {
  content: "";
  position: absolute;
  left: 0;
  top: 35px;
  height: 1px;
  width: 100%;
  background: #000;
}
.latest-deals:after {
  content: "";
  position: absolute;
  top: 36px;
  height: 1px;
  width: 100%;
  background: #444444;
  z-index: 0;
}
.latest-deals h2 {
  color: #7a7a7a;
  background: #e4e4e4;
}
.latest-deals p {
  margin-bottom: 10px;
  font-size: 13px;
  color: #ccc;
}
.latest-deals .latest-deals-wrap {
  padding-left: 0;
}
.latest-deals .latest-deals-wrap img {
  width: 100%;
}
.latest-deals .latest-deals-list {
  padding: 0;
}
.latest-deals .latest-deals-list li {
  margin-bottom: 25px;
}
.latest-deals .latest-deals-list li .img-wrap {
  float: left;
  margin-right: 10px;
}
.latest-deals .latest-deals-list li .info {
  overflow: hidden;
  font-size: 12px;
}
.latest-deals .latest-deals-list li .info h4 {
  font-size: 12px;
  color: #ffe100;
}
.latest-deals .latest-deals-list li .info p {
  font-size: 12px;
  line-height: 16px;
}

/*-------END CONTENT STYLES----------- */
/*----------FOOTER STYLES------------- */
.footer {
  padding: 50px 0;
  font: 400 14px "Helvetica", sans-serif;
  background: url("../../images/foot-bg.png") repeat-x;
  background-size: auto 100%;
}
.footer .connection-list {
  padding: 0;
}
.footer .connection-list h2 {
  position: relative;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  color: #df0000;
}
.footer .connection-list h2 span {
  display: block;
}
.footer .connection-list .questions:before {
  content: "";
  position: absolute;
  top: 65px;
  width: 25px;
  height: 45px;
  background: url("../../images/question-icon.png") no-repeat;
}
.footer .connection-list .business:before {
  content: "";
  position: absolute;
  top: 65px;
  width: 46px;
  height: 47px;
  background: url("../../images/business-icon.png") no-repeat;
}
.footer .connection-list p {
  margin-bottom: 35px;
  padding-left: 65px;
  line-height: 20px;
  color: #e4e4e4;
}
.footer .connection-list a {
  display: block;
  padding: 5px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  background: #df0000;
  border-radius: 5px;
}
.footer .dealin-list h2, .footer .my-dealin-list h2 {
  margin-bottom: 20px;
  font: 700 24px "PFDinTextCondW01-Medium", sans-serif;
  color: #ffe100;
}
.footer .dealin-list li, .footer .my-dealin-list li {
  margin-bottom: 5px;
  padding: 5px 0;
  border-bottom: 1px solid #4f292b;
}
.footer .dealin-list li a, .footer .my-dealin-list li a {
  text-decoration: none;
  color: #a5a5a5;
}

/*-------END FOOTER STYLES------------ */
@media (min-width: 1200px) {
  .container {
    width: 980px;
    padding: 0;
  }

  /*-----------FOOTER STYLES------------ */
  /*--------END FOOTER STYLES----------- */
}
@media (min-width: 992px) and (max-width: 1199px) {
  .subscription .subscription-wrap p {
    margin-right: 25px;
  }

  .conditions .img-wrap {
    margin-right: 0;
  }
  .conditions .term-wrap {
    float: right;
    width: auto;
  }
  .conditions .term-wrap .term p {
    font-size: 14px;
    line-height: 35px;
  }

  .price-wrap {
    padding: 15px 2px 18px 3px;
  }
  .price-wrap .price span {
    font: 700 40px/50px "Helvetica", sans-serif;
  }
  .price-wrap .price .btn {
    padding: 10px 15px;
    font-size: 24px;
  }
  .price-wrap .about-price li .money {
    font-size: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /*------------HEADER STYLES----------- */
  .welcome .navbar h1 .navbar-brand img {
    height: 55px;
  }

  .navbar-inverse .navbar-nav {
    padding-top: 90px;
  }

  /*---------END HEADER STYLES---------- */
  .subscription .subscription-wrap p {
    margin-right: 15px;
    font-size: 18px;
    line-height: 30px;
  }

  /*--------OUR DEALINS STYLES---------- */
  .our-dealins-wrap .last-deal {
    max-width: 110px;
  }
  .our-dealins-wrap .last-deal h3 {
    font-size: 20px;
  }
  .our-dealins-wrap .last-deal .date {
    font-size: 35px;
  }

  .our-dealins .our-actions .about-action h2 {
    font-size: 30px;
  }
  .our-dealins .our-actions .about-action p {
    font-size: 15px;
  }

  .conditions {
    margin-bottom: 10px;
  }
  .conditions .img-wrap {
    margin-right: 5px;
  }
  .conditions .img-wrap img {
    width: 275px;
  }
  .conditions .term-wrap {
    padding: 5px;
  }
  .conditions .term-wrap .term span {
    font-size: 18px;
  }

  .price-wrap {
    padding: 0px 5px 5px 0px;
  }
  .price-wrap .price span {
    font-size: 30px;
    line-height: 30px;
  }
  .price-wrap .price .btn {
    padding: 7px 12px;
    font-size: 17px;
  }
  .price-wrap .gift a {
    font-size: 13px;
  }
  .price-wrap .about-price li span {
    font-size: 10px;
  }
  .price-wrap .about-price li .title {
    font-size: 9px;
  }
  .price-wrap .about-price li .money {
    font-size: 18px;
  }

  .deals-list li a {
    font-size: 15px;
  }

  /*-----END OUR DEALINS STYLES--------- */
  /*----------CONTENT STYLES------------ */
  .wrapper .sidebar .blurb a {
    font: 400 14px "PFDinTextCondW01-Medium", sans-serif;
  }
  .wrapper .sidebar .blurb a span {
    font-size: 25px;
  }
  .wrapper .sidebar .fb-page iframe {
    width: 128px !important;
  }

  .content {
    position: relative;
  }
  .content .content-wrap .main-info {
    padding-left: 0;
  }
  .content h2 {
    font-size: 16px;
  }
  .content p {
    font-size: 12px;
  }
  .content .our-address iframe {
    width: 185px;
  }
  .content .our-address .address {
    max-width: 180px;
    padding-left: 40px;
  }
  .content .our-address .address p {
    font-size: 12px;
  }
  .content .advantages p {
    margin-bottom: 20px;
  }

  .latest-deals p {
    font-size: 12px;
  }
  .latest-deals .latest-deals-list li {
    margin-bottom: 25px;
  }
  .latest-deals .latest-deals-list li .info {
    font-size: 10px;
  }
  .latest-deals .latest-deals-list li .info h4 {
    font-size: 11px;
    color: #ffe100;
  }
  .latest-deals .latest-deals-list li .info p {
    font-size: 10px;
  }

  /*-------END CONTENT STYLES----------- */
  /*----------FOOTER STYLES------------- */
  .footer {
    padding: 50px 0;
  }
  .footer .connection-list li h2 {
    font-size: 18px;
  }
  .footer .connection-list li p {
    padding-left: 60px;
    line-height: 18px;
    font-size: 12px;
  }
  .footer .connection-list li a {
    font-size: 9px;
  }
  .footer .dealin-list h2, .footer .my-dealin-list h2 {
    margin-bottom: 15px;
    font-size: 18px;
  }
  .footer .dealin-list li a, .footer .my-dealin-list li a {
    font-size: 12px;
  }
}
/*-------END FOOTER STYLES------------ */
@media (max-width: 767px) {
  /*------------HEADER STYLES----------- */
  .welcome .navbar {
    min-height: 75px;
  }
  .welcome .navbar h1 {
    padding-top: 15px;
  }
  .welcome .navbar h1 .navbar-brand img {
    height: 40px;
  }

  .navbar-inverse .navbar-nav {
    float: left;
    padding-top: 0px;
  }
  .navbar-inverse .navbar-nav li {
    margin-bottom: 5px;
  }
  .navbar-inverse .navbar-nav li .facebook {
    float: left;
  }
  .navbar-inverse .navbar-toggle {
    margin-top: 35px;
  }

  /*------------HEADER STYLES----------- */
  /*--------SUBSCRIPTION STYLES--------- */
  .subscription .subscription-wrap {
    padding: 15px;
    text-align: center;
    border-radius: 5px;
  }
  .subscription .subscription-wrap p, .subscription .subscription-wrap .form-control, .subscription .subscription-wrap .btn {
    font: 400 14px "PFDinTextCondW01-Light", sans-serif;
  }
  .subscription .subscription-wrap p {
    float: none;
    margin: 0 10px 15px 0;
    font-size: 13px;
  }
  .subscription .subscription-wrap .form-group .form-control {
    margin-bottom: 15px;
  }

  /*-----END SUBSCRIPTION STYLES-------- */
  .conditions img {
    margin-right: 0;
  }
  .conditions .term-wrap {
    float: none;
    overflow: hidden;
    width: 100%;
  }
  .conditions .term-wrap .term {
    text-align: center;
  }
  .conditions .term-wrap .term p {
    float: none;
    font-size: 14px;
    line-height: 35px;
  }
  .conditions .term-wrap .term span {
    float: none;
  }

  .price-wrap {
    padding: 15px 2px 18px 3px;
  }
  .price-wrap .price span {
    font: 700 25px/40px "Helvetica", sans-serif;
  }
  .price-wrap .price .btn {
    padding: 10px 15px;
    font-size: 17px;
  }
  .price-wrap .about-price li {
    padding: 5px 8px;
    margin-right: 5px;
  }
  .price-wrap .about-price li span {
    font-size: 12px;
  }
  .price-wrap .about-price li .money {
    font-size: 19px;
  }

  .social p {
    float: none;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .social ul {
    float: none;
  }

  .our-dealins-wrap {
    float: none;
    width: 100%;
  }
  .our-dealins-wrap .last-deal {
    overflow: hidden;
    max-width: 100%;
  }
  .our-dealins-wrap .last-deal h3 {
    float: left;
    font-size: 18px;
    padding-top: 5px;
  }
  .our-dealins-wrap .last-deal .date {
    float: right;
    font-size: 40px;
  }
  .our-dealins-wrap .last-deal:before {
    display: none;
  }
  .our-dealins-wrap .deals-list {
    margin-top: 5px;
  }
  .our-dealins-wrap .deals-list li {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  .our-dealins-wrap .deals-list li a {
    display: block;
    font-size: 15px;
  }

  .welcome {
    background-size: auto 100%;
  }

  .our-dealins .our-actions .about-action h2 {
    font-size: 28px;
  }
  .our-dealins .our-actions .about-action p {
    font-size: 15px;
  }

  /*----------CONTENT STYLES------------ */
  .wrapper {
    padding-bottom: 30px;
  }
  .wrapper .sidebar {
    text-align: center;
  }
  .wrapper .sidebar .blurb {
    display: inline-block;
  }
  .wrapper .sidebar .fb-page iframe {
    width: 180px !important;
    border-radius: 5px;
  }

  .fb_iframe_widget {
    margin-bottom: 15px;
  }

  .content {
    position: relative;
  }
  .content h2 {
    font-size: 15px;
  }
  .content p {
    text-align: start;
  }
  .content .your-decision {
    text-align: center;
  }
  .content .your-decision a {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
  }
  .content .our-address {
    text-align: center;
  }
  .content .our-address iframe {
    margin-bottom: 15px;
    width: 100%;
  }
  .content .our-address .address p {
    font-size: 13px;
  }
  .content .advantages {
    position: relative;
    text-align: center;
  }
  .content .advantages:before {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    height: 1px;
    width: 100%;
    background: #7a7a7a;
  }
  .content .advantages:after {
    content: "";
    position: absolute;
    top: 21px;
    height: 1px;
    width: 100%;
    background: #fff;
    z-index: 0;
  }
  .content .advantages h2 {
    margin: 0 0 15px 0;
  }
  .content .advantages p {
    margin-bottom: 20px;
  }

  .latest-deals h2 {
    margin: 0 0 15px 0;
  }
  .latest-deals .latest-deals-wrap img {
    margin-bottom: 15px;
  }
  .latest-deals .latest-deals-list li {
    margin-bottom: 10px;
  }

  /*-------END CONTENT STYLES----------- */
  /*----------FOOTER STYLES------------- */
  .footer {
    padding: 50px 0;
    background: url("../../images/resp-foot-bg.png") repeat-x;
    background-size: auto 100%;
    border-top: 15px solid #db0000;
  }
  .footer .connection-list {
    padding: 0;
  }
  .footer .connection-list h2 span {
    display: inline-block;
  }
  .footer .connection-list p {
    margin-bottom: 35px;
    padding-left: 65px;
    line-height: 20px;
    color: #e4e4e4;
  }
  .footer .connection-list a {
    margin-bottom: 15px;
  }
  .footer .dealin-list, .footer .my-dealin-list {
    margin-bottom: 15px;
  }
  .footer .dealin-list h2, .footer .my-dealin-list h2 {
    margin-bottom: 10px;
  }
  .footer .dealin-list li, .footer .my-dealin-list li {
    margin-bottom: 5px;
  }

  /*-------END FOOTER STYLES------------ */
}
