@media (min-width: 992px) and (max-width: 1199px)

  /*--------SUBSCRIPTION STYLES---------*/
  .subscription
    .subscription-wrap
      p
        margin-right: 25px
  /*-----END SUBSCRIPTION STYLES--------*/

  /*--------OUR DEALINS STYLES----------*/
  .conditions
    .img-wrap
      margin-right: 0
    .term-wrap
      float: right
      width: auto
      .term
        p
          font-size: 14px
          line-height: 35px

  .price-wrap
    padding: 15px 2px 18px 3px
    .price
      span
        font: 700 40px/50px 'Helvetica', sans-serif
      .btn
        padding: 10px 15px
        font-size: 24px
    .about-price
      li
        .money
          font-size: 30px
  /*-----END OUR DEALINS STYLES---------*/



