@media (max-width: 767px)

  /*------------HEADER STYLES-----------*/
  .welcome
    .navbar
      min-height: 75px
      h1
        padding-top: 15px
        .navbar-brand
          img
            height: 40px

  .navbar-inverse
    .navbar-nav
      float: left
      padding-top: 0px
      li
        margin-bottom: 5px
        .facebook
          float: left
    .navbar-toggle
      margin-top: 35px
  /*------------HEADER STYLES-----------*/

  /*--------SUBSCRIPTION STYLES---------*/
  .subscription
    .subscription-wrap
      padding: 15px
      text-align: center
      border-radius: 5px
      p, .form-control, .btn
        font: 400 14px 'PFDinTextCondW01-Light', sans-serif
      p
        float: none
        margin: 0 10px 15px 0
        font-size: 13px
      .form-group
        .form-control
          margin-bottom: 15px
  /*-----END SUBSCRIPTION STYLES--------*/

  /*--------OUR DEALINS STYLES----------*/
  .conditions
    img
      margin-right: 0
    .term-wrap
      float: none
      overflow: hidden
      width: 100%
      .term
        text-align: center
        p
          float: none
          font-size: 14px
          line-height: 35px
        span
          float: none

  .price-wrap
    padding: 15px 2px 18px 3px
    .price
      span
        font: 700 25px/40px 'Helvetica', sans-serif
      .btn
        padding: 10px 15px
        font-size: 17px
    .about-price
      li
        padding: 5px 8px
        margin-right: 5px
        span
          font-size: 12px
        .money
          font-size: 19px
  .social
    p
      float: none
      margin-bottom: 10px
      margin-right: 0
    ul
      float: none

  .our-dealins-wrap
    float: none
    width: 100%
    .last-deal
      overflow: hidden
      max-width: 100%
      h3
        float: left
        font-size: 18px
        padding-top: 5px
      .date
        float: right
        font-size: 40px
      &:before
        display: none
    .deals-list
      margin-top: 5px
      li
        +border-radius(5px)
        a
          display: block
          font-size: 15px
  .welcome
    background-size: auto 100%
  .our-dealins
    .our-actions
      .about-action
        h2
          font-size: 28px
        p
          font-size: 15px
  /*--------OUR DEALINS STYLES----------*/

  /*----------CONTENT STYLES------------*/
  .wrapper
    padding-bottom: 30px
    .sidebar
      text-align: center
      .blurb
        display: inline-block
      .fb-page
        iframe
          width: 180px!important
          border-radius: 5px

  .fb_iframe_widget
    margin-bottom: 15px

  .content
    position: relative
    h2
      font-size: 15px
    p
      text-align: start
    .your-decision
      text-align: center
      a
        display: block
        margin-bottom: 20px
        text-decoration: none
    .our-address
      text-align: center
      iframe
        margin-bottom: 15px
        width: 100%
      .address
        p
          font-size: 13px
    .advantages
      position: relative
      text-align: center
      &:before
        content: ''
        position: absolute
        top: 20px
        left: 0
        height: 1px
        width: 100%
        background: $border-color
      &:after
        content: ''
        position: absolute
        top: 21px
        height: 1px
        width: 100%
        background: $white-color
        z-index: 0
      h2
        margin: 0 0 15px 0
      p
        margin-bottom: 20px

  .latest-deals
    h2
      margin: 0 0 15px 0
    .latest-deals-wrap
      img
        margin-bottom: 15px
    .latest-deals-list
      li
        margin-bottom: 10px
  /*-------END CONTENT STYLES-----------*/

  /*----------FOOTER STYLES-------------*/
  .footer
    padding: 50px 0
    background: url("../../images/resp-foot-bg.png")repeat-x
    background-size: auto 100%
    border-top: 15px solid $foot-bord
    .connection-list
      padding: 0
      h2
        span
          display: inline-block
      p
        margin-bottom: 35px
        padding-left: 65px
        line-height: 20px
        color: $light-grey
      a
        margin-bottom: 15px
    .dealin-list, .my-dealin-list
      margin-bottom: 15px
      h2
        margin-bottom: 10px
      li
        margin-bottom: 5px
  /*-------END FOOTER STYLES------------*/