@media (min-width: 768px) and (max-width: 991px)

  /*------------HEADER STYLES-----------*/
  .welcome
    .navbar
      h1
        .navbar-brand
          img
            height: 55px

  .navbar-inverse
    .navbar-nav
      padding-top: 90px
  /*---------END HEADER STYLES----------*/

  /*--------SUBSCRIPTION STYLES---------*/
  .subscription
    .subscription-wrap
      p
        margin-right: 15px
        font-size: 18px
        line-height: 30px
  /*-----END SUBSCRIPTION STYLES--------*/

  /*--------OUR DEALINS STYLES----------*/
  .our-dealins-wrap
    .last-deal
      max-width: 110px
      h3
        font-size: 20px
      .date
        font-size: 35px

  .our-dealins
    .our-actions
      .about-action
        h2
          font-size: 30px
        p
          font-size: 15px

  .conditions
    margin-bottom: 10px
    .img-wrap
      margin-right: 5px
      img
        width: 275px
    .term-wrap
      padding: 5px
      .term
        span
          font-size: 18px

  .price-wrap
    padding: 0px 5px 5px 0px
    .price
      span
        font-size: 30px
        line-height: 30px
      .btn
        padding: 7px 12px
        font-size: 17px
    .gift
      a
        font-size: 13px
    .about-price
      li
        span
          font-size: 10px
        .title
          font-size: 9px
        .money
          font-size: 18px

  .deals-list
    li
      a
        font-size: 15px
  /*-----END OUR DEALINS STYLES---------*/

  /*----------CONTENT STYLES------------*/
  .wrapper
    .sidebar
      .blurb
        a
          font: 400 14px 'PFDinTextCondW01-Medium', sans-serif
          span
            font-size: 25px
      .fb-page
        iframe
          width: 128px!important

  .content
    position: relative
    .content-wrap
      .main-info
        padding-left: 0
    h2
      font-size: 16px
    p
      font-size: 12px
    .our-address
      iframe
        width: 185px
      .address
        max-width: 180px
        padding-left: 40px
        p
          font-size: 12px
    .advantages
      p
        margin-bottom: 20px

  .latest-deals
    p
      font-size: 12px
    .latest-deals-list
      li
        margin-bottom: 25px
        .info
          font-size: 10px
          h4
            font-size: 11px
            color: $yellow-color
          p
            font-size: 10px
  /*-------END CONTENT STYLES-----------*/

  /*----------FOOTER STYLES-------------*/
  .footer
    padding: 50px 0
    .connection-list
      li
        h2
          font-size: 18px
        p
          padding-left: 60px
          line-height: 18px
          font-size: 12px
        a
          font-size: 9px
    .dealin-list, .my-dealin-list
      h2
        margin-bottom: 15px
        font-size: 18px
      li
        a
          font-size: 12px
  /*-------END FOOTER STYLES------------*/