@import url(https://fonts.googleapis.com/css?family=Karla:400,700)
@import url(https://fonts.googleapis.com/css?family=Raleway:500,700,800)
@import url(https://fonts.googleapis.com/css?family=Open+Sans)
@import url(https://fonts.googleapis.com/css?family=Lora:400italic)
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab)
@import compass
@import compass/css3/user-interface
@import variables
@import compass/css3
@import compass/layout
@import compass/typography
@import compass/utilities

@font-face
  font-family: "Helvetica"
  src: url('../fonts/helvetica-bold/helvetica-bold.ttf') format('truetype'), url('../fonts/helvetica-bold/helvetica-bold.otf') format('opentype')

@font-face
  font-family: "PFDinTextCondW01-Bold"
  src: url('../fonts/pfdin-textbold/pfdin-textbold.ttf') format('truetype'), url('../fonts/pfdin-textbold/pfdin-textbold.otf') format('opentype')

@font-face
  font-family: "PFDinTextCondW01-Light"
  src: url('../fonts/pfdin-textlight/pfdin-textlight.ttf') format('truetype'), url('../fonts/pfdin-textlight/pfdin-textlight.otf') format('opentype')

@font-face
  font-family: "PFDinTextCondW01-Medium"
  src: url('../fonts/pfdin-textmedium/pfdin-textmedium.ttf') format('truetype'), url('../fonts/pfdin-textmedium/pfdin-textmedium.otf') format('opentype')

  @font-face
  font-family: "PFDinTextCondW01-ExtraBlack"
  src: url('../fonts/pfdin-textblack/pfdin-textblack.ttf') format('truetype'), url('../fonts/pfdin-textblack/pfdin-textblack.otf') format('opentype')


/*-----------RESET STYLES-------------*/
*
  +box-sizing(border-box)

a,p
  text-decoration: none

a, button, i, input
  -webkit-transition: 0.2s ease-out
  transition: 0.2s ease-out

ul
  list-style: none

div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea
  padding: 0
  margin: 0
  line-height: 1em
/*--------END RESET STYLES------------*/

/*---------RESET BOOTSTRAP STYLES-----*/
.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand
  margin: 0
/*-----END RESET BOOTSTRAP STYLES-----*/

/*------------HEADER STYLES-----------*/
.welcome
  padding-bottom: 15px
  background: url("../../images/welcome-bg.png") repeat-x
  .navbar
    margin-bottom: 0
    min-height: 125px
    h1
      padding-top: 40px
      .navbar-brand
        margin: 0
        padding-left: 0
        img
          height: 71px


.navbar-inverse
  background: transparent
  border: none
  .navbar-nav
    float: right
    padding-top: 100px
    li
      margin-left: 15px
      a
        padding: 0
        font: 700 14px/25px 'Helvetica', sans-serif
        color: $white-color
        text-decoration: none
      .facebook
        display: block
        position: relative
        padding: 5px 8px 5px 25px
        background: $facebook-color
        border: 1px solid $facebook-bg
        line-height: 15px
        &::before
          content: ''
          position: absolute
          left: 10px
          top: 50%
          margin-top: -7px
          width: 8px
          height: 14px
          background: url("../../images/facebook-icon.png") no-repeat
        &:hover
          background: $facebook-color
    .operation
      li
        margin-left: 0
        &:first-child
          float: left
        &:last-child
          float: right
/*---------END HEADER STYLES----------*/

/*--------SUBSCRIPTION STYLES---------*/
.subscription
  padding: 16px 0
  .subscription-wrap
    padding: 20px
    background: $sub-bg
    border-radius: 5px
    p, .form-control, .btn
      font: 400 14px 'PFDinTextCondW01-Light', sans-serif
    p
      display: inline-block
      float: left
      margin-right: 40px
      font-size: 22px
      color: $white-color
      span
        font-weight: 700
    .form-group
      margin-bottom: 0
      .form-control
        display: inline-block
        width: 240px
        padding: 10px 15px
        margin-right: 10px
        border-radius: 0
        font-size: 14px
        box-shadow: inset 0 0 10px $grey-color
        color: $pink-color
        border: none
        +input-placeholder
          font-size: 14px
          color: $pink-color
/*-----END SUBSCRIPTION STYLES--------*/

/*-----------BUTTON STYLES------------*/
.btn
  position: relative
  padding: 7px 12px
  font-size: 17px
  font-weight: 700
  color: $sub-bg
  background: $yellow-color
  border: none
  &:before
    content: ''
    position: absolute
    left: -5px
    top: 50%
    margin-top: -6px
    width: 6px
    height: 11px
    background: url("../../images/btn-bg.png") no-repeat
  &:hover
    background: $yellow-color

/*-----------BUTTON STYLES------------*/

/*--------OUR DEALINS STYLES----------*/
.our-dealins-wrap
  display: inline-block
  float: left
  .last-deal
    position: relative
    max-width: 135px
    padding: 15px 10px 5px 10px
    background: $white-color
    border-radius: 5px
    &:before
      content: ''
      position: absolute
      right: -11px
      top: 20px
      width: 12px
      height: 34px
      background: url("../../images/delta-right.png") no-repeat
    h3
      font: 400 22px 'PFDinTextCondW01-Medium', sans-serif
      color: $sub-bg
      span
        display: block
    .date
      font: 700 50px 'PFDinTextCondW01-Bold', sans-serif
      color: $sub-bg

.our-dealins
  .our-actions
    overflow: hidden
    padding: 10px
    background: $white-color
    border-radius: 5px
    .about-action
      padding: 10px 20px
      margin-bottom: 10px
      background: $action-bg
      border-radius: 5px
      h2
        font: 700 34px 'Helvetica', sans-serif
        color: $black-color
      p
        font: 400 18px 'Helvetica', sans-serif
        color: $paragraph-color

.conditions
  overflow: hidden
  margin-bottom: 15px
  .img-wrap
    float: left
    margin-right: 10px
  .term-wrap
    position: relative
    float: right
    width: 50%
    padding: 10px
    background: $black-color
    border-radius: 2px
    &:before
      content: ''
      position: absolute
      top: 20px
      left: -8px
      width: 8px
      height: 20px
      background: url("../../images/delta-left.png") no-repeat
    .term
      overflow: hidden
      margin-bottom: 20px
      p
        float: left
        font: 400 14px/35px 'PFDinTextCondW01-Medium', sans-serif
        color: $conditions-color
      span
        float: right
        font: 700 26px/35px 'Helvetica', sans-serif
        color: $timer-color

.price-wrap
  +box-shadow (0 0 15px 9px $price-bg)
  overflow: hidden
  padding: 15px 5px 5px 15px
  background: $price-bg
  .price
    overflow: hidden
    margin-bottom: 10px
    text-align: center
    span
      margin-right: 10px
      display: inline-block
      vertical-align: middle
      font: 700 50px/60px 'Helvetica', sans-serif
      color: $white-color
    .btn
      padding: 15px 23px
      font: 700 25px 'Helvetica', sans-serif
      &:before
        left: -10px
        margin-top: -10px
        width: 11px
        height: 21px
        background: url("../../images/large-btn-bg.png")no-repeat
  .gift
    overflow: hidden
    margin-bottom: 15px
    a
      float: right
      position: relative
      padding-left: 30px
      font: 700 15px 'Helvetica', sans-serif
      text-decoration: none
      color: $white-color
      &:before
        content: ''
        position: absolute
        left: 0
        top: 50%
        margin-top: -10px
        width: 21px
        height: 21px
        background: url("../../images/note-bg.png") no-repeat
  .about-price
    li
      position: relative
      float: left
      padding: 5px 15px
      margin-right: 10px
      background: $about-price-bg
      border-radius: 8px
      span
        font: 400 14px 'PFDinTextCondW01-Medium', sans-serif
        text-transform: uppercase
        color: $about-price
      .title
        display: block
        text-align: right
      .money
        display: block
        font: 700 32px 'Helvetica', sans-serif
        text-align: center
        color: $yellow-color
      &:before
        content: ''
        position: absolute
        left: -9px
        top: 50%
        width: 8px
        height: 1px
        background: $grey-color
      &:first-child:before
        background: transparent

.social
  float: right
  p
    float: left
    margin-right: 15px
    font: 400 14px 'PFDinTextCondW01-Medium', sans-serif
    color: $price-bg
    a
      color: $red-color
      text-decoration: underline
  ul
    float: right
    li
      float: left
      margin-right: 10px
      &:last-child
        margin-right: 0

.deals-list
  margin-top: 25px
  li
    margin-bottom: 1px
    padding: 10px 15px
    background: $price-bg
    border-radius: 5px 0 0 5px
    behavior: url(../css/PIE.htc)
    a
      font: 400 21px 'PFDinTextCondW01-Medium', sans-serif
      text-decoration: none
      color: $conditions-color
      span
        display: block
      &:hover
        color: $yellow-color
/*-----END OUR DEALINS STYLES---------*/

/*----------CONTENT STYLES------------*/
.wrapper
  padding: 20px 0 60px 0
  background-color: $content-bg
  .sidebar
    padding: 0
    .img-wrap
      position: relative
      margin-bottom: 15px
      text-align: center
      background: $white-color
      border-radius: 5px
      &:before
        content: ''
        position: absolute
        right: 20px
        bottom: -12px
        width: 32px
        height: 13px
        background: url("../../images/delta-down.png") no-repeat
      img
        padding: 15px 0
    .blurb
      margin-bottom: 15px
      padding: 10px
      background: $app-bg
      border-radius: 5px
      a
        display: block
        position: relative
        padding-left: 25px
        font: 400 14px 'PFDinTextCondW01-Medium', sans-serif
        text-decoration: none
        color: $white-color
        &:before
          content: ''
          position: absolute
          width: 18px
          height: 34px
          left: 0
          top: 50%
          margin-top: -17px
          background: url("../../images/phone-icon.png") no-repeat
        span
          display: block
          font-size: 25px
    .fb-page
      iframe
        width: 163px!important
        border-radius: 5px

.content
  position: relative
  &:before
    content: ''
    position: absolute
    top: 20px
    height: 1px
    width: 100%
    background: $border-color
  &:after
    content: ''
    position: absolute
    top: 21px
    height: 1px
    width: 100%
    background: $white-color
    z-index: 0
  .content-wrap
    overflow: hidden
    margin-bottom: 35px
    .main-info
      padding-left: 0
    h2
      max-width: 150px
  h2
    position: relative
    display: inline-block
    padding: 10px 20px
    margin: 0 0 20px 30px
    font: 400 18px 'PFDinTextCondW01-Medium', sans-serif
    text-align: center
    text-transform: uppercase
    color: $white-color
    background: $cont-title
    border-radius: 5px
    z-index: 1
  p
    font: 400 13px 'Helvetica', sans-serif
    line-height: 20px
    color: $paragraph-color
  a
    color: $red-color
  .your-decision
    padding-left: 10px
    p
      color: $black-color
    a
      display: block
      margin-bottom: 20px
      text-decoration: none
  .our-address
    overflow: hidden
    position: relative
    padding-left: 0
    &:before
      content: ''
      position: absolute
      top: 20px
      height: 1px
      width: 100%
      background: $border-color
    &:after
      content: ''
      position: absolute
      top: 21px
      height: 1px
      width: 100%
      background: $white-color
      z-index: 0
    iframe
      width: 300px
      float: left
    .address
      position: relative
      max-width: 230px
      float: right
      padding-left: 50px
      &:before
        content: ''
        position: absolute
        width: 32px
        height: 47px
        left: 0
        top: 0
        background: url("../../images/address-icon.png") no-repeat
      p
        font-size: 14px
        a
          text-decoration: underline
      .email
        margin-top: 20px
  .advantages
    padding: 0
    h2
      color: $dark-grey
      background: $light-grey
    p
      margin-bottom: 30px

.latest-deals
  position: relative
  overflow: hidden
  padding: 15px 10px
  background: $last-deals-bg
  border-radius: 5px
  &:before
    content: ''
    position: absolute
    left: 0
    top: 35px
    height: 1px
    width: 100%
    background: $black-color
  &:after
    content: ''
    position: absolute
    top: 36px
    height: 1px
    width: 100%
    background: $latest-deals-bord
    z-index: 0
  h2
    color: $dark-grey
    background: $light-grey
  p
    margin-bottom: 10px
    font-size: 13px
    color: $grey-color
  .latest-deals-wrap
    padding-left: 0
    img
      width: 100%
  .latest-deals-list
    padding: 0
    li
      margin-bottom: 25px
      .img-wrap
        float: left
        margin-right: 10px
      .info
        overflow: hidden
        font-size: 12px
        h4
          font-size: 12px
          color: $yellow-color
        p
          font-size: 12px
          line-height: 16px

/*-------END CONTENT STYLES-----------*/

/*----------FOOTER STYLES-------------*/
.footer
  padding: 50px 0
  font: 400 14px 'Helvetica', sans-serif
  background: url("../../images/foot-bg.png") repeat-x
  background-size: auto 100%
  .connection-list
    padding: 0
    h2
      position: relative
      margin-bottom: 10px
      font-size: 24px
      font-weight: 600
      color: $red-color
      span
        display: block
    .questions
      &:before
        content: ''
        position: absolute
        top: 65px
        width: 25px
        height: 45px
        background: url("../../images/question-icon.png") no-repeat
    .business
      &:before
        content: ''
        position: absolute
        top: 65px
        width: 46px
        height: 47px
        background: url("../../images/business-icon.png") no-repeat
    p
      margin-bottom: 35px
      padding-left: 65px
      line-height: 20px
      color: $light-grey
    a
      display: block
      padding: 5px
      font-weight: 600
      text-decoration: none
      color: $white-color
      background: $red-color
      border-radius: 5px
  .dealin-list, .my-dealin-list
    h2
      margin-bottom: 20px
      font: 700 24px 'PFDinTextCondW01-Medium', sans-serif
      color: $yellow-color
    li
      margin-bottom: 5px
      padding: 5px 0
      border-bottom: 1px solid $foot-li-border
      a
        text-decoration: none
        color: $foot-grey
/*-------END FOOTER STYLES------------*/


@import media1200
@import media992
@import media768
@import media320